
.caja-color {
    border: 1px solid black;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.caja-color:hover{
    cursor: pointer;
}

.caja-color.transparente {
    background-color: white;
}

.caja-color.rojo {
    background-color: red;
}

.caja-color.azul {
    background-color: lightblue;
}

.paleta-colores, .navegacion, .cambio-letra {
    display: inline-block;
}

.cambio-color {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

.cambio-letra input {
    width: 50px;
}