
.caja-color {
    border: 1px solid black;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.caja-color:hover{
    cursor: pointer;
}

.caja-color.transparente {
    background-color: white;
}

.caja-color.rojo {
    background-color: red;
}

.caja-color.azul {
    background-color: lightblue;
}

.paleta-colores, .navegacion, .cambio-letra {
    display: inline-block;
}

.cambio-color {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

.cambio-letra input {
    width: 50px;
}

.seguir-facebook {
    background-image: url('../img/facebook.png');
    background-size: 27px 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3a599b;
    cursor: pointer;
    height: 37px;
    list-style: none;
    position: absolute;
    right: 50px;
    top: 5px;
    width: 37px;
}

.seguir-facebook a {
    display: block;
    height: 100%;
    width: 100%;
}