body {
    font-family: Arial;
    font-size:14px;
}

.box_formulario{
    text-align: center;
}
.form_contacto {
    margin-top:20px;
}

.form_contacto input {
    border: 1px solid;
    border-radius: 4px;
}

.form_contacto .box_clear {
    clear:both;
}