body, input, textarea, select {
    font-family: Arial;
    font-size: 14px;
}

form {
    margin-top: 40px;
    text-align: center;
}

form .botones-accion {
    margin-bottom: 20px;
    margin-top: 20px;
}

form .msj-error-validacion {
    color: red;
    display: none;
}

form .msj-enviado {
    color: green;
    display: none;
}